<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>users</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>name</key>
				<string>阿如</string>
				<key>idname</key>
				<string>tony1992</string>
				<key>region</key>
				<string>Guangzhou,Guangdong</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>name</key>
				<string>阿依</string>
				<key>idname</key>
				<string>ayi1989</string>
				<key>region</key>
				<string>Shenzhen,Guangdong</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon3</string>
				<key>name</key>
				<string>a du du</string>
				<key>idname</key>
				<string>adu</string>
				<key>region</key>
				<string>Wuhan,Hubei</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon4</string>
				<key>name</key>
				<string>艾米丽</string>
				<key>idname</key>
				<string>amily</string>
				<key>region</key>
				<string>Putuo,Shanghai</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon5</string>
				<key>name</key>
				<string>AutLi</string>
				<key>idname</key>
				<string>wlq19921212</string>
				<key>region</key>
				<string>Changsha,Hunan</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon6</string>
				<key>name</key>
				<string>A桑</string>
				<key>idname</key>
				<string>ayi1989</string>
				<key>region</key>
				<string>Chengdu,Sichuan</string>
			</dict>
		</array>
		<key>group</key>
		<string>A</string>
	</dict>
	<dict>
		<key>users</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>name</key>
				<string>班思乐</string>
				<key>idname</key>
				<string>tony1992</string>
				<key>region</key>
				<string>Guangzhou,Guangdong</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>name</key>
				<string>薄荷绿</string>
				<key>idname</key>
				<string>ayi1989</string>
				<key>region</key>
				<string>Shenzhen,Guangdong</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon3</string>
				<key>name</key>
				<string>Big L</string>
				<key>idname</key>
				<string>adu</string>
				<key>region</key>
				<string>Wuhan,Hubei</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon4</string>
				<key>name</key>
				<string>不二家</string>
				<key>idname</key>
				<string>amily</string>
				<key>region</key>
				<string>Putuo,Shanghai</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon5</string>
				<key>name</key>
				<string>AutLi</string>
				<key>idname</key>
				<string>wlq19921212</string>
				<key>region</key>
				<string>Changsha,Hunan</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon6</string>
				<key>name</key>
				<string>A桑</string>
				<key>idname</key>
				<string>ayi1989</string>
				<key>region</key>
				<string>Chengdu,Sichuan</string>
			</dict>
		</array>
		<key>group</key>
		<string>B</string>
	</dict>
	<dict>
		<key>users</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>name</key>
				<string>阿如</string>
				<key>idname</key>
				<string>tony1992</string>
				<key>region</key>
				<string>Guangzhou,Guangdong</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>name</key>
				<string>阿依</string>
				<key>idname</key>
				<string>ayi1989</string>
				<key>region</key>
				<string>Shenzhen,Guangdong</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon3</string>
				<key>name</key>
				<string>a du du</string>
				<key>idname</key>
				<string>adu</string>
				<key>region</key>
				<string>Wuhan,Hubei</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon4</string>
				<key>name</key>
				<string>艾米丽</string>
				<key>idname</key>
				<string>amily</string>
				<key>region</key>
				<string>Putuo,Shanghai</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon5</string>
				<key>name</key>
				<string>AutLi</string>
				<key>idname</key>
				<string>wlq19921212</string>
				<key>region</key>
				<string>Changsha,Hunan</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon6</string>
				<key>name</key>
				<string>A桑</string>
				<key>idname</key>
				<string>ayi1989</string>
				<key>region</key>
				<string>Chengdu,Sichuan</string>
			</dict>
		</array>
		<key>group</key>
		<string>C</string>
	</dict>
</array>
</plist>
