<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>images</key>
		<array>
			<dict>
				<key>image</key>
				<string>image1</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image2</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image3</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image4</string>
			</dict>
		</array>
		<key>name</key>
		<string>Tony</string>
		<key>icon</key>
		<string>icon1</string>
		<key>message</key>
		<string>今天天气不错~</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<dict>
				<key>image</key>
				<string>image1</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image2</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image3</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image4</string>
			</dict>
		</array>
		<key>name</key>
		<string>李四</string>
		<key>icon</key>
		<string>icon3</string>
		<key>message</key>
		<string>hahahahahahahahahhahahahahahahahhahahahahahahahahahahahhahahahahahaahhahahahahahahahhahahahahahahahhahahhahahahahahahahhahahahahahahhahahahahahahahahahahahhahahahahahahahahhahahahahahahahhahahahahahahahahahahahhahahahahahaahhahahahahahahahhahahahahahahahhahahhahahahahahahahhahahahahahahhahahahahahahahahahahahahahahahahahahahahhahahahahahahahhahahahahahahahahahahahhahahahahahaahhahahahahahahahhahahahahahahahhahahhahahahahahahahhahahahahahahhahahahahahahahahahahahahahahahahahahahahhahahahahahahahhahahahahahahahahahahahhahahahahahaahhahahahahahahahhahahahahahahahhahahhahahahahahahahhahahahahahahhahahahahahahahahahahahahahahahahahahahahhahahahahahahahhahahahahahahahahahahahhahahahahahaahhahahahahahahahhahahahahahahahhahahhahahahahahahahhahahahahahahhahahahahahahahahahahahaa</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<dict>
				<key>image</key>
				<string>image1</string>
			</dict>
		</array>
		<key>name</key>
		<string>张三</string>
		<key>icon</key>
		<string>icon2</string>
		<key>message</key>
		<string>嘿嘿嘿</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<dict>
				<key>image</key>
				<string>image1</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image2</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image3</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image4</string>
			</dict>
		</array>
		<key>name</key>
		<string>名字要很长长长长</string>
		<key>icon</key>
		<string>icon4</string>
		<key>message</key>
		<string>我的名字很长吗</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<dict>
				<key>image</key>
				<string>image1</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image2</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image3</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image4</string>
			</dict>
		</array>
		<key>name</key>
		<string>玉皇大帝</string>
		<key>icon</key>
		<string>icon5</string>
		<key>message</key>
		<string>众爱卿，元宵节快乐！</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<dict>
				<key>image</key>
				<string>image1</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image2</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image3</string>
			</dict>
			<dict>
				<key>image</key>
				<string>image4</string>
			</dict>
		</array>
		<key>name</key>
		<string>如来佛祖</string>
		<key>icon</key>
		<string>icon6</string>
		<key>message</key>
		<string>阿弥陀佛</string>
	</dict>
</array>
</plist>
