<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon1</string>
		<key>time</key>
		<string>11:30</string>
		<key>name</key>
		<string>Tony</string>
		<key>message</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>type</key>
				<integer>1</integer>
				<key>message</key>
				<string>你好！！</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>type</key>
				<integer>0</integer>
				<key>message</key>
				<string>早上好早上好早上好早上好早上好早上好早上好早上好早上好早上好早上好早上好早上好早上好早上好早上好早上好早上好早上好早上好！！！</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>type</key>
				<integer>1</integer>
				<key>message</key>
				<string>哈哈哈哈！</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>type</key>
				<integer>0</integer>
				<key>message</key>
				<string>呵呵呵呵</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>type</key>
				<integer>1</integer>
				<key>message</key>
				<string>嘿嘿嘿</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>type</key>
				<integer>0</integer>
				<key>message</key>
				<string>哦哦哦哦哦哦哦哦！！</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon2</string>
		<key>time</key>
		<string>11:30</string>
		<key>name</key>
		<string>Duck</string>
		<key>message</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>one message</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>type</key>
				<integer>0</integer>
				<key>message</key>
				<string>你好！</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon3</string>
		<key>time</key>
		<string>11:30</string>
		<key>name</key>
		<string>Jim</string>
		<key>message</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>two message</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>type</key>
				<integer>0</integer>
				<key>message</key>
				<string>中午好！！！！！</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>message</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>one message</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>type</key>
				<integer>0</integer>
				<key>message</key>
				<string>你好！</string>
			</dict>
		</array>
		<key>icon</key>
		<string>icon4</string>
		<key>time</key>
		<string>11:30</string>
		<key>name</key>
		<string>Tiffanly</string>
	</dict>
	<dict>
		<key>message</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>one message</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>type</key>
				<integer>0</integer>
				<key>message</key>
				<string>你好！</string>
			</dict>
		</array>
		<key>icon</key>
		<string>icon5</string>
		<key>time</key>
		<string>11:30</string>
		<key>name</key>
		<string>Snoopy</string>
	</dict>
	<dict>
		<key>message</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>one message</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>type</key>
				<integer>0</integer>
				<key>message</key>
				<string>你好！</string>
			</dict>
		</array>
		<key>icon</key>
		<string>icon6</string>
		<key>time</key>
		<string>11:30</string>
		<key>name</key>
		<string>Daniel</string>
	</dict>
	<dict>
		<key>message</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>one message</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>type</key>
				<integer>0</integer>
				<key>message</key>
				<string>你好！</string>
			</dict>
		</array>
		<key>icon</key>
		<string>icon6</string>
		<key>time</key>
		<string>11:30</string>
		<key>name</key>
		<string>Daniel</string>
	</dict>
	<dict>
		<key>message</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>one message</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>type</key>
				<integer>0</integer>
				<key>message</key>
				<string>你好！</string>
			</dict>
		</array>
		<key>icon</key>
		<string>icon6</string>
		<key>time</key>
		<string>11:30</string>
		<key>name</key>
		<string>Daniel</string>
	</dict>
	<dict>
		<key>message</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>one message</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>type</key>
				<integer>0</integer>
				<key>message</key>
				<string>你好！</string>
			</dict>
		</array>
		<key>icon</key>
		<string>icon6</string>
		<key>time</key>
		<string>11:30</string>
		<key>name</key>
		<string>Daniel</string>
	</dict>
	<dict>
		<key>message</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>one message</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>type</key>
				<integer>0</integer>
				<key>message</key>
				<string>你好！</string>
			</dict>
		</array>
		<key>icon</key>
		<string>icon6</string>
		<key>time</key>
		<string>11:30</string>
		<key>name</key>
		<string>Daniel</string>
	</dict>
	<dict>
		<key>message</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>one message</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2</string>
				<key>message</key>
				<string>你好！</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon1</string>
				<key>type</key>
				<integer>0</integer>
				<key>message</key>
				<string>你好！</string>
			</dict>
		</array>
		<key>icon</key>
		<string>icon6</string>
		<key>time</key>
		<string>11:30</string>
		<key>name</key>
		<string>Daniel</string>
	</dict>
</array>
</plist>
